<link
  href="https://fonts.googleapis.com/icon?family=Material+Icons&display=block"
  rel="stylesheet"
/>
<div class="mat-app-background basic-container">
  <checkbox-component>loading</checkbox-component>
</div>
<hr />
<div class="mat-app-background basic-container">
  <autocomplete-component>loading</autocomplete-component>
</div>
<hr />
<div class="mat-app-background basic-container">
  <app-datepicker>loading</app-datepicker>
</div>
<hr />
<div class="mat-app-background basic-container">
  <formfield-component>loading</formfield-component>
</div>
<hr />
<div class="mat-app-background basic-container">
  <input-component>loading</input-component>
</div>
<hr />
<div class="mat-app-background basic-container">
  <radio-btn-component>loading</radio-btn-component>
</div>
<hr />

<div class="mat-app-background basic-container">
  <select-component>loading</select-component>
</div>
<hr />

<div class="mat-app-background basic-container">
  <slider-component>loading</slider-component>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-menu>loading</app-menu>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-stepper>loading</app-stepper>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-grid>loading</app-grid>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-list>loading</app-list>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-tree>loading</app-tree>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-expansion-panel>loading</app-expansion-panel>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-buttons>loading</app-buttons>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-button-toggle>loading</app-button-toggle>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-badge>loading</app-badge>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-dialog>loading</app-dialog>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-toggle>loading</app-toggle>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-spinner>loading</app-spinner>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-progress-bar>loading</app-progress-bar>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-pagination>loading</app-pagination>
</div>
<hr />

<div class="mat-app-background basic-container">
  <app-table>loading</app-table>
</div>
<hr />
